    <%- include('../partials/header') %>


        <%- include('../partials/nav') %>
        <header><a href="/games/new">Add a Game</a></header>
    <h1>All Games</h1>
    <ul>
        <% gameDoc.forEach(game => { %>
         <li>
            <a href="/games/<%= game._id %>">
                <%= game.name %></li>
            </a>
        <% }) %>
    </ul>

    <%- include('../partials/footer') %>